<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recuperar Contraseña (En desarrollo)</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="recover-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="card-title">Recuperación de Contraseña</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p class="description">Ingresa tu correo electrónico para recibir un enlace de recuperación de contraseña.</p>
        <ion-item>
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input 
            type="email" 

            placeholder="ejemplo@correo.com">
          </ion-input>
        </ion-item>

        <ion-button expand="block" class="recover-button">
          Enviar Correo de Recuperación
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>